.App {
    max-width: 1000px;
    margin: auto;
}

.App nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App ul{
    display: flex;
}
.App ul li{
    margin: 0 20px;
    list-style-type: none;
    
}
a {
    text-decoration: none;
    color: #555555;
}

.active{
    color: blue;
  
}